#flamingo-brand {
	background-image: url('images/flamingo-brand@2x.png');
	background-size: 100%;
}

#appstore-header a {
	background-image: url('images/appstore-btn-sprite@2x.png');
	background-size: 100%;
}

#bg {
	background-image: url('images/wallpaper-3.jpg');
	background-size: 100%;
}

#hero {
		background-image: url('images/hero@2x.png');
		background-size: 100%;
}

#one-more a {
	background-image: url('images/learn-more@2x.png');
	background-size: 100%;
}

#two-more a {
	background-image: url('images/learn-more@2x.png');
	background-size: 100%;
}

#three-more a {
	background-image: url('images/learn-more@2x.png');
	background-size: 100%;
}

#four-more a {
	background-image: url('images/learn-more@2x.png');
	background-size: 100%;
}

#five-more a {
	background-image: url('images/learn-more@2x.png');
	background-size: 100%;
}

#six-more a {
	background-image: url('images/learn-more@2x.png');
	background-size: 100%;
}

#one-icon {
	background-image: url('images/all-in-one-design-icon@2x.png');
	background-size: 100%;
}

#two-icon {
	background-image: url('images/search-icon@2x.png');
	background-size: 100%;
}

#three-icon {
	background-image: url('images/media-bubbles-icon@2x.png');
	background-size: 100%;
}

#four-icon {
	background-image: url('images/services-icon@2x.png');
	background-size: 100%;
}

#five-icon {
	background-image: url('images/unified-buddies-icon@2x.png');
	background-size: 100%;
}

#six-icon {
	background-image: url('images/file-transfer-icon@2x.png');
	background-size: 100%;
}

.sep {
	background-image: url('images/sep@2x.png');
	background-size: 100%;
}

#all-in-one-design .icon {
	background-image: url('images/all-in-one-design-icon@2x.png');
	background-size: 100%;
}

#all-in-one-design .screenshot {
	background-image: url('images/allinone-1@2x.png');
	background-size: 100%;
}

#search .icon {
	background-image: url('images/search-icon@2x.png');
	background-size: 100%;
}

#all-in-one-design .screenshot {
	background-image: url('images/allinone-1@2x.png');
	background-size: 100%;
}

#search .screenshot {
	background-image: url('images/search-window@2x.png');
	background-size: 100%;
}

#inline-media .icon {
	background-image: url('images/media-bubbles-icon@2x.png');
	background-size: 100%;
}

#inline-media .screenshot {
	background-image: url('images/inline-media-examples@2x.png');
	background-size: 100%;
}

#services .icon {
	background-image: url('images/services-icon@2x.png');
	background-size: 100%;
}

#unified-buddies .icon {
	background-image: url('images/unified-buddies-icon@2x.png');
	background-size: 100%;
}

#file-transfer .icon {
	background-image: url('images/file-transfer-icon@2x.png');
	background-size: 100%;
}

#branding-image {
	background-image: url('images/footer-branding@2x.png');
	background-size: 100%;
}

#footer-sep {
	background-image: url('images/sep@2x.png');
	background-size: 100%;
}

#flamingo-grid {
	background-image: url('images/flamingo-alt-icon@2x.png');
	background-size: 100%;
}

#christian .avatar {
	background-image: url('images/christian-avatar@2x.png');
	background-size: 100%;
}

#indragie .avatar {
	background-image: url('images/indragie-avatar@2x.png');
	background-size: 100%;
}